.row {
    display: flex;
    align-items: center;
    background-color: #cfccc2;
    text-align: center;
    padding: 15px;
    gap: 50px;
  }
  
  #fotodeperfil {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
  }
  
  #nombre {
    font-weight: bold;
  }
  
  @media screen and (max-width: 767px) {
    .row {
      flex-direction: column;
      text-align: center;
    }
  
    #fotodeperfil {
      margin: 20px auto;
    }
  }