.row{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}
  .redes{
    margin-right: 0.5em;
  }
  #logoAP{
      width: 150px;
    } 
    Img{
      width: 40px;
    }
    /*--- Para la vista de celular ---*/
    @media (max-width: 575px){
      .container{
        flex-direction: column;
      }
      .redes{
        display: flex;
        flex-direction: horizontal;
        align-items: center;
      }
      .redes img{
        margin: 0.2em;
      }
    }
  